.square1 {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 1);
}

.square2{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.699);
}

.square3{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.432);
}

.square4{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.342);
}

.squarebox{
    background-color: #f5f5dd;
    padding: 10px;
}
